* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
}

#container {
    padding: 25px;
    background-color: #009dff;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.box {
    background-color: #2d62b2;
    color: #ffffff;
}

/* Clearfix */
.clearfix:after, .clearfix:before, .row:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}
