body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    background-color: #ecf2f7;
}

/* Main */
.navbar {
    background-color: #f8f8f8;
    display: block;
    margin-bottom: 19px;
    min-height: 50px;
    position: relative;
    z-index: 1000;

    /* Border */
    border-color: #e7e7e7;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-header {
    float: left;
}

ul.navbar-nav {
    float: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.navbar-nav > li {
    float: left;
    display: block;
}

ul.navbar-nav > li > a {
    color: #777;
    line-height: 20px;
    display: block;
    padding: 15px;
}

/* Brand */
.navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-brand {
    color: #777;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    margin-left: -15px;
    padding: 15px 15px;
}

/* Form */
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form {
    width: auto;
    border: 0;
    padding: 0 15px;
    margin: 8px -15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

/* Button */
.btn {
    -ms-touch-action: manipulation;
    background-image: none;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
